<script>
    
    window.onload = init;
    
    function init() {

        document.getElementById('download').addEventListener("click", function () {
            gtag('event', 'Download', {
                'event_category' : 'PDF',
                'event_label' : 'MC2050_Action_Area_Dynamic_Government_Brief.pdf'
            });
        });
    };
    
</script>

<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <p class="action-areas-sidebar__title">Dynamic & Representative Government</p>
    <%= image_tag("governance-1.jpg", class: "logo", alt: t("placeholder")) %>
    <li><a class="action-areas-sidebar__link" href=""></a></li>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Goals</p>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/dynamic-and-representative-governments">Dynamic and Representative Governments</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Research and Tools</p>
        <li><a class="action-areas-sidebar__link" href="https://metrocommon.mapc.org/reports/14" target="_blank">The Diversity Deficit</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__button">
    <%= link_to "Download PDF Version", asset_path("MC2050_Action_Area_Dynamic_Government_Brief.pdf"), id: "download" %>
</div>