<div class="splash">
  <div class="headline">
    <%= raw @page.content_for(:headline) %>
  </div>
  <div class="subheadline">
    <%= raw @page.content_for(:subheadline) %>
  </div>
  <%= image_tag("mapc_logo.svg", class: "logo") %>
</div>
<div class="content">
  <h1><%= @page.title %></h1>
  <%= raw @page.content_for(:body) %>
  <%= render '/refinery/events/events/index' %>

</div>
