<div class="HomePage">

  <section class="hero-banner">
    <div class="styled-box styled-box--extended">
      <div class="container">
        <div class="styled-box__content">
          <h1>MetroCommon 2050</h1>

          <p class="sub-header">
            Greater Boston's next regional plan <br>
            Led by the Metropolitan Area Planning Council
          </p>
          
          <p>
            Welcome to the digital hub of MetroCommon 2050, Greater Boston's next regional long-range plan!
            Here you'll find everything MetroCommon. Every month, there will be new research, information,
            events, and ways to share your thoughts.
          </p>

          <p>
            Get involved. With your help and your voice, we'll create the common future we want - together.
          </p>

          <div class="hero-banner-actions">
            <a class="button" href="/stories">Weigh In</a>
            <button class="button button--hollow button--with-arrow">Watch Video</button>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-banner__arrow container">
      <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
      <div class="triangle"></div>
    </div>
  </section>

  <div class="container">
    <div class='content-column'>
      <%= render partial: '/partials/one_box', locals: { title: 'Process Details', image: 'norwood-person.jpg' } %>
    </div>
  </div>

  <div class="container">
    <section class="content-column">
      <%= raw @page.content_for(:body) %>
      <% if Flipper.enabled?(:action_buttons) %>
        <div class="action-boxes">
          <a href="/find-out"><span class="wrapper"><%= t('refinery.home.actions.learn') %></span></a>
          <a href="/stories/new"><span class="wrapper"><%= t('refinery.home.actions.engage') %></span></a>
          <a href="/events"><span class="wrapper"><%= t('refinery.home.actions.events') %></span></a>
        </div>
      <% end %>
    </section>
  </div>

  <% if @page.content_for(:bottom) %>
    <div class="container">
      <section class="content-column">
        <%= raw @page.content_for(:bottom) %>
      </section>
    </div>
  <% end %>

  <div class="interruption">
    <div class="container">
      <div class="content-column-row">
        <div class="content-column-one next-event-floater">
          <% if @next_event && Flipper.enabled?(:next_event) %>
            <h2><%= t('refinery.home.interruption.next_event') %></h2>
            <%= link_to(refinery.events_event_path(@next_event)) do %>
              <div class="next-event-time hidden-text"><%= @next_event.start.strftime("%B %-d, %Y " + t('refinery.home.interruption.event_at') + " %-l:%M%p") %></div>
              <div class="next-event-time" aria-hidden="true"><%= @next_event.start.strftime("%b %-d %-l:%M%P") %></div>
              <div class="next-event-title"><%= @next_event.title %></div>
            <% end %>
          <% end %>
        </div>
        <div class="content-column-two">
          <h2><%= t('refinery.home.email_sign_up.sign_up') %></h2>
          <a class="button" href="<%= CONSTANT_CONTACT_LANDING_PAGE %>" target="_blank"><%= t('refinery.home.email_sign_up.join') %></a>
        </div>
      </div>
    </div>
  </div>
</div>
