<% content_for :javascript_packs do %>
  <%= javascript_pack_tag 'carousel' %>
  <%= javascript_pack_tag 'hero-rotation' %>
<% end %>

<div class="HomePage">
  <section class="hero-banner">
    <div class="styled-box styled-box--extended">
    <div class="styled-box__background">
      <div class="styled-box__background-image active"></div>
      <div class="styled-box__background-image"></div>
    </div>
      <div class="container">
        <div class="styled-box__content">
          <h1>MetroCommon 2050</h1>

          <p class="sub-header">
            Greater Boston's next regional plan <br>
            Led by the Metropolitan Area Planning Council (MAPC)
          </p>

          <p>
            Welcome to the digital hub of MetroCommon 2050, Greater Boston's next regional long-range plan!
            Here you'll find everything MetroCommon. Every month, there will be new research, information,
            events, and ways to share your thoughts.
          </p>

          <p>
            Get involved. With your help and your voice, we'll create the common future we want - together.
          </p>

          <div class="hero-banner-actions">
            <a class="button" href="/goals">Goals</a>
            <a class="button button--hollow button--with-arrow" href="https://youtu.be/bApghSqlbYc" target="_blank">Watch Video</a>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-banner__arrow container">
      <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
    </div>
  </section>

  <%= render "partials/announcements" %>

  <section class="one-box-grid container">
    <div class="one-box-grid__content grid grid--3-2">
      <% @one_boxes.each do |box| %>
        <% next unless box.visible %>
        <div class="grid__cell">
          <%= link_to box.link do %>
            <%= render partial: '/partials/one_box', locals: { type: box.triangle_overlay ? 'half' : nil, title: box.title, image: box.image.thumbnail(geometry: :one_box).url } %>
          <% end %>
        </div>
      <% end %>
      <div class="grid__cell">
        <%= render partial: '/partials/event_box', locals: { events: @next_events } %>
      </div>
    </div>
  </section>

  <section class="regional-plan">
    <div class="container">
      <div class="regional-plan__content">
        <div class="regional-plan--triangle">
          <%= image_tag("mc-arrow.png", alt: t('logo_alt')) %>
        </div>
        <div class="regional-plan--description">
          <h2 class="regional-plan--description-title">What is a Regional Plan?</h2>
          <p class="regional-plan--description-text">It’s a set of actions that local and state government can take to improve the region over time. Plans
            like MetroCommon can include thinking about many different aspects of our lives. That’s because policies and laws can affect jobs, transportation, health, and more.</p>
          <p class="regional-plan--description-text">MetroCommon will focus on challenges and opportunities that are bigger than any one place. And it will look at how those issues are connected. Topics like traffic congestion, the rising cost of housing, our changing climate, equity of wealth and health, and efficient government – all will be part of the mix.</p>
          <div class="regional-plan--description__button">
            <a href="https://youtu.be/bApghSqlbYc" target="_blank">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
