<div class="HomePage">

  <section class="hero-banner">
    <div class="styled-box styled-box--extended">
      <div class="container">
        <div class="styled-box__content">
          <h1>MetroCommon 2050</h1>

          <p class="sub-header">
            Greater Boston's next regional plan <br>
            Led by the Metropolitan Area Planning Council
          </p>
          
          <p>
            Welcome to the digital hub of MetroCommon 2050, Greater Boston's next regional long-range plan!
            Here you'll find everything MetroCommon. Every month, there will be new research, information,
            events, and ways to share your thoughts.
          </p>

          <p>
            Get involved. With your help and your voice, we'll create the common future we want - together.
          </p>

          <div class="hero-banner-actions">
            <a class="button" href="/stories">Weigh In</a>
            <button class="button button--hollow button--with-arrow">Watch Video</button>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-banner__arrow container">
      <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
    </div>
  </section>

  <div class="container">
    <section class="grid grid--3-2">
      <div class="grid__cell">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'FIND OUT', image: 'find-out.jpg' } %>
      </div>

      <div class="grid__cell">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'WEIGH IN', image: 'weigh-in.jpg' } %>
      </div>

      <div class="grid__cell">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'PROCESS TIMELINE', image: 'process-timeline.jpg' } %>
      </div>

      <div class="grid__cell">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'VOICES FROM THE REGION', image: 'voices.jpg' } %>
      </div>

      <div class="grid__cell">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'PROCESS DETAILS', image: 'process-details.jpg' } %>
      </div>

      <div class="grid__cell">
        <%= render partial: '/partials/event_box', locals: { events: @next_events } %>
      </div>
    </section>
  </div>

  <% if @page.content_for(:bottom) %>
    <div class="container">
      <section class="content-column">
        <%= raw @page.content_for(:bottom) %>
      </section>
    </div>
  <% end %>

  <div class="interruption">
    <div class="container">
      <section class="content-column">
        <h2><%= t('refinery.home.email_sign_up.sign_up') %></h2>
        <a class="button" href="<%= CONSTANT_CONTACT_LANDING_PAGE %>" target="_blank"><%= t('refinery.home.email_sign_up.join') %></a>
      </section>
    </div>
  </div>
</div>
