<script>
    window.onload = init;
    function init() {
        const letter = document.getElementById("reports-letter");
        const close = document.getElementById("reports-letter-close");
        letter.style.display = "flex";
        function hide() {
            letter.style.display = "none";
        }
        close.addEventListener("click", hide);
    };
</script>

<div class="HomePage">
  <section class="hero">
    <div class="hero-bg">
      <div class="container hero-banner hero-banner__arrow">
        <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
      </div>
    </div>
    <%= image_tag("arrow-map.svg", class: "logo arrow-map", alt: t('arrow_map')) %>
    <div class="container hero-content">
      <div class="hero-header">
        <h1>MetroCommon 2050</h1>
        <p class="sub-header">
          Greater Boston’s long-range regional plan <br/>
          Led by the Metropolitan Area Planning Council<br/>
          (MAPC)
        </p>
      </div>
    </div>
    <div class="hero-styled-box">
      <div class="hero-styled-box__text">
        <h2>Shaping our region together</h2>
        <p>Metropolitan Boston is home to a vibrant, diverse population of five million. We’re a hub of innovation and tradition, of learning and culture, of sports, of history, of medicine – and that just scratches the surface. We also face big challenges, including the cost of housing, racial inequity, and a changing climate. MetroCommon 2050 is a road map for meeting those challenges. And for launching the region into a more equitable and resilient future.</p>
        <p>MetroCommon is a land-use and policy plan designed to be used. It looks at how issues affect residents and workers throughout our region of 101 cities and towns. It offers actionable policy recommendations and useful research and tools. And every aspect of the plan, from goals to analysis, has been vetted by people who live here, very much including people from historically marginalized communities.</p>
        <p>Please delve into the MetroCommon material and share it widely. Let us know what you think and what else you’d like to know. But most of all, put it to work. Together, we can build the future we want. But to achieve that future, we have to act. It won’t be easy, but it’ll be worth it. Let’s shape the region together!</p>
      </div>  
      <div class="hero-styled-box__button">
        <a href="" target="_blank">Read Plan</a>
      </div>
    </div>
    <div class="hero-carousel-header">
      <p>Achieving the goals of MetroCommon will require focused efforts to enact change in five, interrelated topics, which we call “Action Areas”. The Action Areas in MetroCommon are:</p>
    </div>
    <div class="hero-carousel-container">
      <%= render "/refinery/shared/action_areas_carousel" %>
    </div>
  </section>
  <section class="about-plan">
    <div class="container">
      <div class="about-plan__content">
        <div class="about-plan__grid">
          <div class="about-plan--description">
            <h2 class="about-plan--description-title">Research</h2>
            <p class="about-plan--description-text">MetroCommon 2050 is Greater Boston’s long-term land use and policy plan. It seeks to connect the Greater Boston of today to a more just, sustainable, equitable, and prosperous future. To do this, we need to understand the conditions on the ground for our residents, workers, businesses, and ecosystems, and the trajectories along which they are moving. Research conducted as part of the MetroCommon planning process can help us to see some of the patterns and idiosyncrasies of the region, and to imagine possibilities for its future.</p>
            <p class="about-plan--description-text">We used the research developed as part of MetroCommon to understand our region more fully and to provide data and evidence answering key questions. The research findings supported the development of both the action areas and the plan’s public policy recommendations. We held public release events throughout the planning process to highlight the new insights and tools that have been developed.</p>
          </div>
          <div class="about-plan--links">
            <ul>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="https://climate-vulnerability.mapc.org/">Climate Vulnerability</a>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="https://zoningatlas.mapc.org">Zoning Atlas</a>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="http://www.rethink-suburban-strip.mapc.org">Rethinking the Suburban Strip</a>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="https://housing-submarkets.mapc.org/">Housing Submarkets</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="one-box-grid">
          <div class="one-box-grid__content grid grid--3-2">
            <% @one_boxes.each do |box| %>
              <% next unless box.visible %>
              <div class="grid__cell">
                <%= link_to box.link do %>
                  <%= render partial: '/partials/one_box', locals: { type: box.triangle_overlay ? 'half' : nil, title: box.title, image: box.image.thumbnail(geometry: :one_box).url } %>
                <% end %>
              </div>
            <% end %>
            <div class="grid__cell">
              <%= render partial: '/partials/research_box', locals: { events: @next_events } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-banner__arrow container">
    </div>
  </section>
  <section class="scenario-section">
    <div class="container">
      <div class="scenario-section__content">
        <div class="scenario-section__grid">
          <div class="scenario-section--description">
            <h2 class="scenario-section--description-title">How Do We Plan for An Uncertain Future?</h2>
            <p class="scenario-section--description-text">The future is based on things both inside and outside of our control. We have the opportunity and responsibility to plan for an uncertain future. We examine four key uncertainties in MetroCommon 2050.</p>
          </div>
          <div class="scenario-section__button">
            <a href="https://youtu.be/bApghSqlbYc" target="_blank">Read More</a>
          </div>
        </div>
        <div class="scenario-section__banner">
          <%= image_tag("scenario-hero.jpg", alt: t('vehicle_traffic_alt')) %>
        </div>
      </div>
    </div>
    <div class="hero-banner__arrow container">
    </div>
  </section>
  <section class="about-plan">
    <div class="container">
      <div class="about-plan__content">
        <div class="about-plan__grid">
          <div class="about-plan--description">
            <h2 class="about-plan--description-title">About the Regional Plan</h2>
            <p class="about-plan--description-text">It’s a set of actions that local and state government can take to improve the region over time. Plans
              like MetroCommon can include thinking about many different aspects of our lives. That’s because policies and laws can affect jobs, transportation, health, and more.</p>
            <p class="about-plan--description-text">MetroCommon will focus on challenges and opportunities that are bigger than any one place. And it will look at how those issues are connected. Topics like traffic congestion, the rising cost of housing, our changing climate, equity of wealth and health, and efficient government – all will be part of the mix.</p>
            <div class="about-plan--description__button">
              <a href="https://youtu.be/bApghSqlbYc" target="_blank">Explore</a>
            </div>
          </div>
          <div class="about-plan--links">
            <ul>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="">Read the plan</a>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="">MetroCommon process</a>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="">Community outreach and input</a>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="">Acknowledgements</a>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M19.16,13.54c0.01,0.17,0.01,0.35-0.03,0.52c0,0.01-0.01,0.02-0.01,0.02c-0.07,0.3-0.22,0.58-0.45,0.82   c-0.67,0.67-1.76,0.67-2.43,0c-0.69-0.69-1.66-0.95-2.56-0.78c0,0,0,0,0,0c-0.19,0.04-0.37,0.09-0.55,0.16   c-0.34,0.14-0.66,0.35-0.94,0.62l-2.68,2.69c0,0,0,0,0,0l-3.25,3.25c-1.11,1.11-1.11,2.93,0,4.04c1.08,1.08,2.96,1.08,4.04,0   l2.47-2.47c1.04,0.71,2.21,1.19,3.45,1.4l-3.49,3.49c-1.23,1.23-2.84,1.84-4.45,1.84c-1.61,0-3.22-0.61-4.45-1.84   c-2.45-2.45-2.45-6.45,0-8.9l5.93-5.93c1.23-1.23,2.84-1.84,4.45-1.84c1.61,0,3.22,0.61,4.45,1.84c0.13,0.13,0.23,0.28,0.31,0.44   c0.01,0.02,0.03,0.05,0.04,0.07c0.07,0.16,0.11,0.32,0.13,0.48C19.16,13.49,19.16,13.52,19.16,13.54z M28.16,4.7   c-1.19-1.19-2.77-1.84-4.45-1.84c-1.68,0-3.26,0.65-4.45,1.84l-3.5,3.5c1.22,0.21,2.4,0.68,3.45,1.4l2.47-2.47   c1.08-1.08,2.96-1.08,4.04,0c0.54,0.54,0.84,1.26,0.84,2.02c0,0.76-0.3,1.48-0.84,2.02l-1.09,1.09c0,0,0,0,0,0L19.8,17.1   c-1.08,1.08-2.96,1.08-4.04,0c-0.67-0.67-1.76-0.67-2.43,0c-0.67,0.67-0.67,1.76,0,2.43c1.19,1.19,2.77,1.84,4.45,1.84   c1.68,0,3.26-0.65,4.45-1.84l4.84-4.84c0,0,0,0,0,0l1.09-1.09C29.35,12.41,30,10.83,30,9.15S29.35,5.89,28.16,4.7z"></path></g></svg>
                <a href="">About MAPC</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
