<div class="HomePage">
  <section class="banner">
    <div class="container">
      <div class="content-column banner-content">
        <h1><%= @page.title %></h1>
        <%= raw @page.content_for(:subtitle) %>
        <% if Flipper.enabled?(:search) %>
          <%= render "/refinery/shared/search" %>
        <% end %>
      </div>
      <%= image_tag("mapc_logo.svg", class: "logo", alt: t('logo_alt')) %>
    </div>
  </section>

  <div class="container">
    <section class="content-column">
      <%= raw @page.content_for(:body) %>
      <% if Flipper.enabled?(:action_buttons) %>
        <div class="action-boxes">
          <a href="/find-out"><span class="wrapper"><%= t('refinery.home.actions.learn') %></span></a>
          <a href="/stories/new"><span class="wrapper"><%= t('refinery.home.actions.engage') %></span></a>
          <a href="/events"><span class="wrapper"><%= t('refinery.home.actions.events') %></span></a>
        </div>
      <% end %>
    </section>
  </div>

  <div class="container">
    <section class="content-column">
      <div class="styled-box">
        <div class="styled-box__content">
          <div class="styled-box__block-title">Process Details</div>
        </div>
      </div>
    </section>
  </div>

  <% if @page.content_for(:bottom) %>
    <div class="container">
      <section class="content-column">
        <%= raw @page.content_for(:bottom) %>
      </section>
    </div>
  <% end %>

  <div class="interruption">
    <div class="container">
      <div class="content-column-row">
        <div class="content-column-one next-event-floater">
          <% if @next_event && Flipper.enabled?(:next_event) %>
            <h2><%= t('refinery.home.interruption.next_event') %></h2>
            <%= link_to(refinery.events_event_path(@next_event)) do %>
              <div class="next-event-time hidden-text"><%= @next_event.start.strftime("%B %-d, %Y " + t('refinery.home.interruption.event_at') + " %-l:%M%p") %></div>
              <div class="next-event-time" aria-hidden="true"><%= @next_event.start.strftime("%b %-d %-l:%M%P") %></div>
              <div class="next-event-title"><%= @next_event.title %></div>
            <% end %>
          <% end %>
        </div>
        <div class="content-column-two">
          <h2><%= t('refinery.home.email_sign_up.sign_up') %></h2>
          <a class="button" href="<%= CONSTANT_CONTACT_LANDING_PAGE %>" target="_blank"><%= t('refinery.home.email_sign_up.join') %></a>
        </div>
      </div>
    </div>
  </div>
</div>
