<% content_for :javascript_packs do %>
  <%= javascript_pack_tag 'carousel' %>
<% end %>
<div class="HomePage">

  <section class="hero-banner">
    <div class="styled-box styled-box--extended">
      <div class="container">
        <div class="styled-box__content">
          <h1>MetroCommon 2050</h1>

          <p class="sub-header">
            Greater Boston's next regional plan <br>
            Led by the Metropolitan Area Planning Council
          </p>
          
          <p>
            Welcome to the digital hub of MetroCommon 2050, Greater Boston's next regional long-range plan!
            Here you'll find everything MetroCommon. Every month, there will be new research, information,
            events, and ways to share your thoughts.
          </p>

          <p>
            Get involved. With your help and your voice, we'll create the common future we want - together.
          </p>

          <div class="hero-banner-actions">
            <a class="button" href="/stories">Weigh In</a>
            <button class="button button--hollow button--with-arrow">Watch Video</button>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-banner__arrow container">
      <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
    </div>
  </section>

  <div class="container">
    <section class="content-column">
      <% if Flipper.enabled?(:announcements) %>
        <%= render "partials/announcements" %>
      <% end %>
      <% if Flipper.enabled?(:action_buttons) %>
        <div class="action-boxes">
          <a href="/find-out"><span class="wrapper"><%= t('refinery.home.actions.learn') %></span></a>
          <a href="/stories/new"><span class="wrapper"><%= t('refinery.home.actions.engage') %></span></a>
          <a href="/events"><span class="wrapper"><%= t('refinery.home.actions.events') %></span></a>
        </div>
      <% end %>
    </section>
  </div>
</div>
