<div class="HomePage">

  <section class="hero-banner">
    <div class="styled-box styled-box--extended">
      <div class="container">
        <div class="styled-box__content">
          <h1>MetroCommon 2050</h1>

          <p class="sub-header">
            Greater Boston's next regional plan <br>
            Led by the Metropolitan Area Planning Council
          </p>
          
          <p>
            Welcome to the digital hub of MetroCommon 2050, Greater Boston's next regional long-range plan!
            Here you'll find everything MetroCommon. Every month, there will be new research, information,
            events, and ways to share your thoughts.
          </p>

          <p>
            Get involved. With your help and your voice, we'll create the common future we want - together.
          </p>

          <div class="hero-banner-actions">
            <a class="button" href="/stories">Weigh In</a>
            <button class="button button--hollow button--with-arrow">Watch Video</button>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-banner__arrow container">
      <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
    </div>
  </section>

  <div class="container">
    <section class="content-column">
      <%= raw @page.content_for(:body) %>
      <% if Flipper.enabled?(:action_buttons) %>
        <div class="action-boxes">
          <a href="/find-out"><span class="wrapper"><%= t('refinery.home.actions.learn') %></span></a>
          <a href="/stories/new"><span class="wrapper"><%= t('refinery.home.actions.engage') %></span></a>
          <a href="/events"><span class="wrapper"><%= t('refinery.home.actions.events') %></span></a>
        </div>
      <% end %>
    </section>
  </div>

  <% if @page.content_for(:bottom) %>
    <div class="container">
      <section class="content-column">
        <%= raw @page.content_for(:bottom) %>
      </section>
    </div>
  <% end %>

  <div class="interruption">
    <div class="container">
      <div class="content-column-row">
        <div>
          <%= image_tag("mc-arrow.png", class: "content-column-one__image--mc-arrow", alt: t('logo_alt')) %>
        </div>
        <div class="content-column-two--regional-plan">
          <h1 class="content-column-two--regional-plan-title">What is a Regional Plan?</h1>
          <p class="content-column-two--regional-plan-text">It’s a set of actions that local and state government can take to improve the region over time. Plans
            like MetroCommon can include thinking about many different aspects of our lives. That’s because policies and laws can affect jobs, transportation, health, and more.</p>
            <p class="content-column-two--regional-plan-text">MetroCommon will focus on challenges and opportunities that
            are bigger than any one place. And it will look at how those issues are connected. Topics like traffic
            congestion, the rising cost of housing, our changing climate, equity of wealth and health, and efficient government – all will be part of the mix.    
            </p>
          <div class="content-column-two__button">
            <a href="https://youtu.be/bApghSqlbYc" target="_blank">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
