<% content_for :javascript_packs do %>
  <%= javascript_pack_tag 'carousel' %>
<% end %>
<div class="HomePage">

  <section class="hero-banner">
    <div class="styled-box styled-box--extended">
      <div class="container">
        <div class="styled-box__content">
          <h1>MetroCommon 2050</h1>

          <p class="sub-header">
            Greater Boston's next regional plan <br>
            Led by the Metropolitan Area Planning Council
          </p>

          <p>
            Welcome to the digital hub of MetroCommon 2050, Greater Boston's next regional long-range plan!
            Here you'll find everything MetroCommon. Every month, there will be new research, information,
            events, and ways to share your thoughts.
          </p>

          <p>
            Get involved. With your help and your voice, we'll create the common future we want - together.
          </p>

          <div class="hero-banner-actions">
            <a class="button" href="/stories">Weigh In</a>
            <button class="button button--hollow button--with-arrow">Watch Video</button>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-banner__arrow container">
      <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
    </div>
  </section>

  <% if Flipper.enabled?(:announcements) %>
    <%= render "partials/announcements" %>
  <% end %>

  <section class="one-box-grid grid grid--3-2">
    <div class="grid__cell">
      <a href="">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'FIND OUT', image: 'find-out.jpg' } %>
      </a>
    </div>

    <div class="grid__cell">
      <a href="">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'WEIGH IN', image: 'weigh-in.jpg' } %>
      </a>
    </div>

    <div class="grid__cell">
      <a href="">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'PROCESS TIMELINE', image: 'process-timeline.jpg' } %>
      </a>
    </div>

    <div class="grid__cell">
      <a href="">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'VOICES FROM THE REGION', image: 'voices.jpg' } %>
      </a>
    </div>

    <div class="grid__cell">
      <a href="">
        <%= render partial: '/partials/one_box', locals: { type: 'half', title: 'PROCESS DETAILS', image: 'process-details.jpg' } %>
      </a>
    </div>

    <div class="grid__cell">
      <a href="">
        <%= render partial: '/partials/event_box', locals: { events: @next_events } %>
      </a>
    </div>
  </section>

  <section class="regional-plan">
    <div class="regional-plan--triangle">
      <%= image_tag("mc-arrow.png", alt: t('logo_alt')) %>
    </div>
    <div class="regional-plan--description">
      <h2 class="regional-plan--description-title">What is a Regional Plan?</h2>
      <p class="regional-plan--description-text">It’s a set of actions that local and state government can take to improve the region over time. Plans
        like MetroCommon can include thinking about many different aspects of our lives. That’s because policies and laws can affect jobs, transportation, health, and more.</p>
      <p class="regional-plan--description-text">MetroCommon will focus on challenges and opportunities that are bigger than any one place. And it will look at how those issues are connected. Topics like traffic congestion, the rising cost of housing, our changing climate, equity of wealth and health, and efficient government – all will be part of the mix.</p>
      <div class="regional-plan--description__button">
        <a href="https://youtu.be/bApghSqlbYc" target="_blank">learn more</a>
      </div>
    </div>
  </section>
</div>
