<script>
    window.onload = init;
    function init() {
        const letter = document.getElementById("reports-letter");
        letter.style.display = "flex";
        function hide() {
            letter.style.display = "none";
        }
        letter.addEventListener("click", hide);
    };

</script>

<div class="ReportsPage">
    <div class="reports">
        <section id="reports-letter">
            <div id="reports-letter-text">
                <a id="reports-letter-close">X</a>
                <h1>Letter from our President and Executive Director</h1>
                <h3>September 2021</h3>
                <p>A message to the people who live and work in Metropolitan Boston:</p>
                <p>In 2008, we adopted our last regional land use and policy plan, MetroFuture, and it guided our work for over a decade. Although many MetroFuture recommendations have been implemented, the region still faces many of the same big challenges: increasing disparities in income, wealth, and health by race, a lack of affordable housing, growing negative impacts of climate change, and an overburdened transportation system. Our new plan, MetroCommon 2050: Shaping our Region Together, attempts to confront these threats and delineates a path to work together to create a more sustainable and equitable region.</p>
                <p>Developing a roadmap for the region during a pandemic and racial reckoning has not been easy. However, we believe it has both strengthened and humbled us in important ways, leading we hope to a stronger guide to the future. When we began this plan, no one had heard of COVID-19 and few knew who George Floyd was. We have experienced great political, social, and economic upheaval in the past year. Many lives have been lost and the economic dislocation has hit women, service workers, and people of color particularly hard across the nation and right here in Greater Boston. Last summer, thousands marched for racial justice. Last winter, we experienced a polarizing election and a failed attempt at insurrection. These global, national, regional, and local events are affecting us all and have shaped this plan. MetroCommon is a 30-year plan for building a more equitable and more resilient region, but it is also a plan that identifies historic exclusion, oppression, and unfairness that continue today. It offers actionable recommendations for ensuring that our recovery is equitable and places our region on a trajectory to reach our shared, long-term goals.</p>
                <p>MetroCommon is about hope for the future. At the very beginning of this planning process, the first questions we asked people were, “What do you hope for the future? What kind of region do you want for yourself, your children, and the next generation?” We turned those responses into the vision and goals of the plan. We explored the possible barriers against reaching those goals, including future uncertainties like changes in transportation technologies and demographics. And then we identified what we can do, together, to work towards the future that we all want. Together we have the power and ability to be the change that we desire.</p>
                <p>We look forward to working with you to build a more equitable and resilient region.</p>
                <%= image_tag("erin-wortman-signature.png", alt: t("signature")) %>
                <p>Erin Wortman<br/>President</p>
                <%= image_tag("marc-draisen-signature.png", alt: t("signature")) %>
                <p>Marc Draisen<br/>Executive Director</p>
            </div>
        </section>
        <section class="reports-hero">
            <div class="reports-hero-container">
                <div class="reports-hero-content">
                    <div class="reports-hero-content__header margins">
                        <h1>MetroCommon 2050</h1>
                        <h3 >
                            Greater Boston’s long-range regional plan<br/>
                            Led by the Metropolitan Area Planning Council<br/>
                            (MAPC)
                        </h3>
                    </div>
                    <div class="reports-hero-content__body">
                        <h4>Shaping our region together</h4>
                        <p>Metropolitan Boston is home to a vibrant, diverse population of five million. We’re a hub of innovation and tradition, of learning and culture, of sports, of history, of medicine – and that just scratches the surface. We also face big challenges, including the cost of housing, racial inequity, and a changing climate. MetroCommon 2050 is a road map for meeting those challenges. And for launching the region into a more equitable and resilient future.</p>
                        <p>MetroCommon is a land-use and policy plan designed to be used. It looks at how issues affect residents and workers throughout our region of 101 cities and towns. It offers actionable policy recommendations and useful research and tools. And every aspect of the plan, from goals to analysis, has been vetted by people who live here, very much including people from historically marginalized communities.</p>
                        <p>Please delve into the MetroCommon material and share it widely. Let us know what you think and what else you’d like to know. But most of all, put it to work. Together, we can build the future we want. But to achieve that future, we have to act. It won’t be easy, but it’ll be worth it. Let’s shape the region together!</p>
                        <div class="reports-hero-content__button">
                            <a href="" target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-banner__arrow container margins">
                <%= image_tag("mapc-logo.svg", class: "logo", alt: t('logo_alt')) %>
            </div>
        </section>
        <section class="reports-index">
            <%= render "/refinery/shared/navigation_site" %>
        </section>
        <section class="reports-content">
            <div class="reports-content-container container margins">
                <div class="reports-content-intro">
                    <h2>Introduction</h2>
                    <p>
                        MetroCommon 2050 is Greater Boston’s next long-range plan. MetroCommon is an action plan for local and state governments, residents and businesses. It recommends specific strategies for making the region a better place. Cupcake jelly chocolate bar jujubes gummi bears sugar plum gummies topping. Dessert icing muffin chocolate tart cotton candy. Tart fruitcake liquorice sweet. Ice cream candy halvah cake carrot cake chupa chups cake. Sweet roll croissant tart jujubes. Cotton candy jelly beans pudding candy canes. Apple pie biscuit jelly beans cookie tootsie roll ice cream. Bonbon cotton candy chocolate cake tiramisu. Pastry liquorice wafer biscuit. Jelly-o cupcake gummi bears wafer sugar plum bear claw. Soufflé candy pudding dessert chocolate marzipan muffin lemon drops cake. Gummies cheesecake pastry.
                    </p>
                    <p>
                        Cupcake pastry chocolate bar pastry danish macaroon powder fruitcake jujubes. Gingerbread carrot cake croissant. Pastry tiramisu tart icing macaroon caramels gingerbread sweet roll bonbon. Pastry jelly beans pie biscuit wafer cookie lemon drops biscuit marzipan. Apple pie donut jujubes cake tiramisu. Wafer gummies lollipop candy canes sugar plum fruitcake. Brownie cake pie chocolate bar biscuit sweet roll caramels. Marshmallow halvah pudding macaroon macaroon topping gummi bears liquorice jelly-o. Dessert sugar plum marzipan tootsie roll gummies. Macaroon bear claw soufflé toffee marzipan topping gummies muffin carrot cake. Cotton candy jelly chupa chups danish tiramisu tart gummies cotton candy. Jelly wafer macaroon jelly-o chocolate toffee tootsie roll icing.
                    </p>
                    <p>
                        Chocolate marshmallow pie powder dragée sweet roll soufflé candy canes sweet roll. Dragée fruitcake macaroon icing fruitcake tart marshmallow macaroon. Candy liquorice bear claw sugar plum cookie. Cake tootsie roll bear claw jelly beans. Chupa chups gummies chocolate tart dessert. Halvah jelly gummi bears jelly liquorice. Fruitcake topping candy canes sugar plum cheesecake cupcake dessert chupa chups tiramisu. Halvah chocolate lemon drops chocolate cupcake sweet cheesecake. Cake biscuit wafer. Cake caramels bear claw. Apple pie candy cake liquorice lollipop tiramisu cheesecake. Candy bear claw chocolate cake sesame snaps. Pudding macaroon oat cake cookie danish. Cake tiramisu liquorice toffee tart.
                    </p>
                </div>  
                <div class="reports-content-goals">
                    <h2>What does making the region a better place actually mean?</h2>
                    <h3>What purpose do the MetroCommon 2050 goals serve?</h3>
                    <p>
                        The goals are intended to demonstrate what residents want life in the region to be like in the year 2050. The goals are intended to be bold yet achievable, not clinical or abstract. The goals avoid assuming current or anticipated systems will exist in 2050. They are also solutions agnostic. They don’t identify who will provide health care or how, just that everyone has it and it’s affordable. They reflect the values of the plan, which are equity, stewardship, resiliency, and prosperity. The goals are an idealized future and the plan’s recommendations provide a roadmap of how we can achieve the goals.
                    </p>
                    <div class="reports-content-goals-grid">
                        <a class="reports-content-goals-card reports-content-goals-card-green" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/getting-around-the-region">
                            <%= image_tag("goal-1.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>Getting Around the Region</h5>
                            <p>Traveling around Metro Boston is safe, affordable, convenient, and enjoyable.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-blue" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/homes-for-all">
                            <%= image_tag("goal-2.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>Homes for All</h5>
                            <p>All residents of Metro Boston have places to live that meet their needs, and that they can afford.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-blue" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/healthy-and-safe-neighborhoods">
                            <%= image_tag("goal-9.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>Healthy and Safe Neighborhoods</h5>
                            <p>We are safe, healthy, and connected to one another.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-purple" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/economic-security-and-prosperity">
                            <%= image_tag("goal-7.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>Economic Security</h5>
                            <p>Everyone has the financial resources to meet their needs and to live fulfilling lives.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-purple" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/economic-prosperity">
                            <%= image_tag("goal-8.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>Economic Prosperity</h5>
                            <p>Greater Boston’s economy benefits all in the region.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-purple" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/thriving-arts-culture-and-heritage">
                            <%= image_tag("goal-10.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>Thriving Arts, Culture, and Heritage</h5>
                            <p>Greater Boston is full of unique places and experiences that bring joy and foster diversity and social cohesion.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-red" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/dynamic-and-representative-governments">
                            <%= image_tag("goal-5.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>Dynamic and Representative Governments</h5>
                            <p>Local governments and regional agencies have the capacity and resources to deliver the services and supports our residents deserve, and to maintain and invest in our built and natural environments.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-yellow" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-climate-resilient-region">
                            <%= image_tag("goal-3.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>A Climate-Resilient Region</h5>
                            <p>Metro Boston is prepared for - and resilient to - the impacts of climate change.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-yellow" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-net-zero-carbon-region">
                            <%= image_tag("goal-4.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>A Net Zero Carbon Region</h5>
                            <p>The Metro Boston region is highly energy efficient and has reduced its greenhouse gas (GHG) emissions to net zero.</p>
                        </a>
                        <a class="reports-content-goals-card reports-content-goals-card-yellow" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-healthy-environment">
                            <%= image_tag("goal-6.png", class: "", alt: t("Bikes and people walking")) %>
                            <h5>A Healthy Environment</h5>
                            <p>Greater Boston’s air, water, land, and other natural resources are clean and protected - for us and for the rest of the ecosystem.</p>
                        </a>
                    </div>
                    <h3>How did we decide that these would be the MetroCommon 2050 goals?</h3>
                    <p>
                        The first draft of the MetroCommon 2050 goals emerged from a thorough reassessment and restructuring of the goals in MetroFuture. MetroFuture is the 2008 regional plan that MAPC created with an immense amount of help and input from residents and experts alike. While we brought the MetroFuture goals up to date, we toured the region, asking residents, planners, and municipal and state leaders what they wanted life in the region to be like in the year 2050. We cataloged those visions, identified themes, and incorporated them into the draft of the updated goals. MAPC staff reviewed that first draft, adding context and refining terms and concepts. Next, the MetroCommon 2050 External Advisory Committee, a committee of stakeholders MAPC selected to guide our decision making throughout the regional plan update, provided feedback. We produced a second draft of the goals and turned them into a survey that allowed respondents to rate the goals, provide feedback on them, and propose new ones. We sent the survey out over social media, we included in our newsletter, we asked our partners to fill out, and we asked our partners to forward it to their partners. We received over 600 responses, which we also grouped into themes and incorporated into a third draft. The third draft was again presented to the External Advisory Committee who recommended that they be sent to MAPC’s Executive Committee for approval. On June 17th 2019 the Executive Committee provisionally approved the goals. We continued to gather feedback on the goals through May 2021 before finalizing them over the summer of 2021.  
                    </p>
                </div> 
                <div class="reports-content-action-areas">
                    <h2>Five interrelated topics: “Action Areas”</h2>
                    <div class="reports-content-action-areas-carousel">
                        <%= render "/refinery/shared/action_areas_carousel" %>
                    </div>
                    <h3>What was the process for determining the content within the Action Areas?</h3>
                    <p>
                        The Action Areas were informed by MAPC’s understanding of key issues facing the region, combined with years of public engagement that asked questions like: what future do you want to see for Greater Boston and what is preventing us from getting there? What are the key challenges and opportunities our region is facing? Where should we, collectively, focus our efforts to generate meaningful change? The narratives were honed with the help of MAPC staff, the MetroCommon 2050 Community Engagement Advisory Committee, the MetroCommon 2050 External Advisory Committee, and hundreds of participants from action area workshops spanning the summer and fall of 2020.
                    </p>

                    <div class="reports-content-action-areas-nesting-viz">
                        <h4>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            Action Areas (5)
                        </h4>
                        <h4>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            Recommendations (20)
                        </h4>
                        <h4>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            Strategies (68)
                        </h4>
                        <h4>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            <%= image_tag("li-marker-20px.png", class: "", alt: t("Right facing triangle")) %>
                            Policy Actions (227)
                        </h4>
                    </div>
                    <div class="reports-content-action-areas-accordion">
                        <%= render "/refinery/shared/action_areas_accordion" %>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>