<section class="banner">
  <div class="container">
    <div class="content-column banner-content">
      <%= render "/refinery/shared/search" %>
    </div>
  </div>
</section>
<div class="container">
  <section class="search-results">
    <% content_for :body do %>
      <% if params[:query].present? %>
        <% if @results.present? %>
          <% if @results.select { |result| result.class == Refinery::Page }.present? %>
            <h2><%= t('.search_results_for', what: params[:query]) %></h2>
            <ul id="search_results">
              <% @results.select { |result| result.class == Refinery::Page }.each do |result| %>
                <li>
                  <%= link_to result_mark(result.title).html_safe, result_url(result) %>
                  <p><%= result.meta_description %></p>
                </li>
              <% end %>
            </ul>
          <% end %>
            <% if @results.select { |result| result.class == Refinery::Events::Event }.present? %>
              <h2><%= t('.event_results_for', what: params[:query]) %></h2>
              <ul id="event_results">
              <% @results.select { |result| result.class == Refinery::Events::Event }.each do |result| %>
                <li>
                  <%= link_to result_mark(result.title).html_safe, result_url(result) %> | <%= result.start.strftime("%b %-d %l:%M %P") %>
                  <p><%= result.meta_description.blank? ? result_mark(result.description.truncate(150)).html_safe : result.meta_description.truncate(150) %></p>
                </li>
              <% end %>
              </ul>
            <% end %>
          <%= will_paginate @results %>
        <% else %>
          <%= t('.no_results') %>
        <% end %>
      <% else %>
        <%= t('.no_results') %>
      <% end %>
    <% end %>
    <%= render "/refinery/content_page" %>
  </section>
</div>
