<a class="action-areas-recommendations__grid-container" href="/announcements/23">
    <%= image_tag("recommendations/equity-1.jpg", alt: t("Business owner")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Enable wealth creation and intergenerational wealth transfer</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/24">
    <%= image_tag("recommendations/equity-2.jpg", alt: t("Wooded path")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Improve quality of life and reverse the rising rate of chronic diseases, particularly among populations experiencing health inequities</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/25">
    <%= image_tag("recommendations/equity-3.jpg", alt: t("Image of a couple at the grand opening of their bakery")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Expand and promote the resiliency of small businesses, particularly those owned by people of color, and encourage large employers to invest in local economies and advance equity</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/26">
    <%= image_tag("recommendations/equity-4.jpg", alt: t("A barber shop")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Improve the accessibility and efficacy of the Commonwealth’s workforce development infrastructure</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="/announcements/27">
    <%= image_tag("recommendations/equity-5.jpg", alt: t("Large gathering of children outside")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Ensure all residents are provided equal protection and support by law enforcement agencies and within the justice system</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-explore-link" href="">
    <p>Explore Policy Actions</p>
    <%= image_tag("li-marker-20px.png", alt: t("triangle marker")) %>
</a>