<%= render "banner" %>
<section class="content">
  <div class="container">
    <div class="content-column">
      <p>
        <% if @story.video.attached? %>
          <%= video_tag rails_blob_path(@story.video), autoplay: 'autoplay' %>
        <% elsif @story.audio.attached? %>
          <%= audio_tag rails_blob_path(@story.audio), controls: 'true' %>
        <% elsif response.present? %>
          <%= @story.response %>
        <% else %>
          Sorry, there was an error in uploading your content.
        <% end %>
      </p>
    </div>
  </div>


<%= link_to 'Submit', stories_path, class: 'link-button-row' %>
<%= link_to 'Edit', edit_story_path(@story), class: 'link-button-row' %>
<%= link_to 'Delete', story_path(@story), method: :delete, class: 'link-button-row' %>
</section>
