<nav id="navigation-language" class="navigation-language" aria-label="Select language">
  <button
    aria-label="Select langauge. Current language is <%= Refinery::I18n.config.locales[Mobility.locale] %>."
    aria-expanded="false"
    aria-haspopup="true"
    onclick="toggleLanguageList()"
  >
    <%= Refinery::I18n.config.locales[Mobility.locale] %> <%= fa_icon 'caret-down' %>
  </button>
  <ul class="navigation-language" role="menu" aria-label="Available languages">
    <% locales = (Refinery::I18n.config.frontend_locales.map { |l| "/#{l.to_s}" }).join("|") %>
    <% Refinery::I18n.config.frontend_locales.each do |locale| %>
      <li>
        <%= link_to("/#{locale.to_s}" + request.path.match("(?:#{locales})?(.*)")[1]) do %>
          <span><%= Refinery::I18n.locales[locale] %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
