<script>
    
    window.onload = init;
    
    function init() {

        document.getElementById('download').addEventListener("click", function () {
            gtag('event', 'Download', {
                'event_category' : 'PDF',
                'event_label' : 'MC2050_Inclusive_Growth_and_Mobility_Brief.pdf.pdf'
            });
        });
    };
    
</script>

<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <p class="action-areas-sidebar__title">Artist’s Eye</p>
    <%= image_tag("art-image-growth.jpg", alt: t("Artwork")) %>
    <li><a class="action-areas-sidebar__link" href="">Graphic story by Anna Christine</a></li>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Goals</p>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/getting-around-the-region">Getting Around the Region</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Research and Tools</p>
        <li><a class="action-areas-sidebar__link" href="https://zoningatlas.mapc.org/" target="_blank">Zoning Atlas</a></li>
        <li><a class="action-areas-sidebar__link" href="https://perfectfitparking.mapc.org/" target="_blank">Perfect Fit Parking</a></li>
        <li><a class="action-areas-sidebar__link" href="https://artsandplanning.mapc.org/" target="_blank">Arts & Planning Toolkit</a></li>
        <li><a class="action-areas-sidebar__link" href="https://metrocommon.mapc.org/reports/4" target="_blank">First Miles</a></li>
        <li><a class="action-areas-sidebar__link" href="https://www.mapc.org/resource-library/vehicle-miles-traveled-emissions/" target="_blank">Normative Modeling</a></li>
        <li><a class="action-areas-sidebar__link" href="https://trailmap.mapc.org/" target="_blank">Trailmap</a></li>

    </ul>
</div>
<div class="action-areas-sidebar__button">
    <%= link_to "Download PDF Version", asset_path("MC2050_Inclusive_Growth_and_Mobility_Brief.pdf"), id: "download" %>
</div>