<%= csrf_meta_tag %>
<!DOCTYPE html>

<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <meta property="og:title" content="MetroCommon 2050" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url("mapc-social-sharing-image.png") %>" />
    <meta property="og:description" content="Greater Boston’s next regional plan. Led by the Metropolitan Area Planning Council (MAPC)." />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5547782-36"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-5547782-36');
      </script>
    <% end %>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'polyfill' %>
    <%= javascript_pack_tag 'hero-rotation' %>
    <%= yield :javascript_packs %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <div class="skip-header"><a href="#page"><%= t('skip_navigation') %></a></div>
      <%= render "/refinery/header" -%>
      <main id="page" role="main">
        <%= yield %>
      </main>
      <%= render "/refinery/footer" -%>
    </div>
  </body>
</html>
