<%= csrf_meta_tag %>
<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5547782-36"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-5547782-36');
      </script>
    <% end %>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'polyfill' %>
    <%= yield :javascript_packs %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <div class="skip-header"><a href="#page"><%= t('skip_navigation') %></a></div>
      <%= render "/refinery/header" -%>
      <main id="page" role="main">
        <%= yield %>
      </main>
      <footer role="contentinfo">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
  </body>
</html>
