<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/climate-1.jpg", alt: t("aerial view of town")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Prepare for and respond to the threats of climate change</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/climate-2.jpg", alt: t("structure in park")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Accelerate the transition to a clean energy future</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/climate-3.jpg", alt: t("aerial view of town")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Address regional water challenges</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-container" href="">
    <%= image_tag("recommendations/climate-4", alt: t("placeholder")) %>
    <div class="action-areas-recommendations__grid-copy">
        <p class="action-areas-recommendations__grid-copy-recc">Recommendation</p>
        <p class="action-areas-recommendations__grid-copy-recc-title">Decarbonize the building and transportation sectors</p>
    </div>
</a>
<a class="action-areas-recommendations__grid-explore-link" href="">
    <p>Explore Policy Actions</p>
    <%= image_tag("li-marker-20px.png", alt: t("triangle marker")) %>
</a>