<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <p class="action-areas-sidebar__title">Artist’s Eye</p>
    <%= image_tag("art-image-climate.jpg", alt: t("Artwork")) %>
    <li><a class="action-areas-sidebar__link" href="">Illustrations by Ben Batchelder</a></li>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Goals</p>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-climate-resilient-region">A Climate Resilient Region</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-net-zero-carbon-region">A Net Zero Carbon Region</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-healthy-environment">A Healthy Environment</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Research and Tools</p>
        <li><a class="action-areas-sidebar__link" href="">How We See It: Climate Mitigation & Resiliency</a></li>
        <li><a class="action-areas-sidebar__link" href="">Hidden in Plain Sight: Impacts of E-Commerce in Massachusetts</a></li>
        <li><a class="action-areas-sidebar__link" href="https://zoningatlas.mapc.org/">Zoning Atlas</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__button">
    <%= link_to "Download PDF Version", asset_path("MC2050_Action_Area_Climate_Change_Brief.pdf") %>
</div>