<script>
    
    window.onload = init;
    
    function init() {

        document.getElementById('download').addEventListener("click", function () {
            gtag('event', 'Download', {
                'event_category' : 'PDF',
                'event_label' : 'MC2050_Action_Area_Climate_Change_Brief.pdf'
            });
        });
    };
    
</script>

<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <p class="action-areas-sidebar__title">Artist’s Eye</p>
    <%= image_tag("art-image-climate.jpg", alt: t("Artwork")) %>
    <li><a class="action-areas-sidebar__link" href="https://metrocommon.mapc.org/reports/28">Illustrations by Ben Batchelder</a></li>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Goals</p>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-climate-resilient-region">A Climate Resilient Region</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-net-zero-carbon-region">A Net Zero Carbon Region</a></li>
        <li><a class="action-areas-sidebar__link" href="https://mapc.gitbook.io/metrocommon-2050-goals/goals/a-healthy-environment">A Healthy Environment</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__section">
    <%= image_tag("li-marker-20px.png", class: "li-marker", alt: t("triangle")) %>
    <ul>
        <p class="action-areas-sidebar__title">Related Research and Tools</p>
        <li><a class="action-areas-sidebar__link" href="https://www.mapc.org/net-zero/playbook/" target="_blank">Net Zero Playbook</a></li>
        <li><a class="action-areas-sidebar__link" href="https://www.mapc.org/resource-library/climate-resilient-land-use-strategies/" target="_blank">Climate Resilience Land Use Strategies</a></li>
        <li><a class="action-areas-sidebar__link" href="https://climate-vulnerability.mapc.org/" target="_blank">Climate Vulnerability in Greater Boston</a></li> 
        <li><a class="action-areas-sidebar__link" href="https://metrocommon.mapc.org/reports/17" target="_blank">Surging Seas, Rising Fiscal Stress</a></li>
        <li><a class="action-areas-sidebar__link" href="https://www.mapc.org/resource-library/vehicle-miles-traveled-emissions/" target="_blank">Normative Modeling</a></li>
    </ul>
</div>
<div class="action-areas-sidebar__button">
    <%= link_to "Download PDF Version", asset_path("MC2050_Action_Area_Climate_Change_Brief.pdf"), id: "download" %>
</div>